<ul class="navigator" nz-menu nzMode="inline">
  <ng-container *ngFor="let item of moduleList">
    <ng-container [ngSwitch]="item.children.length">
      <li *ngSwitchCase="0" nz-menu-item nzMatchRouter>
        <a [routerLink]="[item.url]">{{item.title}}</a>
      </li>
      <li *ngSwitchDefault [nzTitle]="item.title" nz-submenu>
        <ul>
          <li *ngFor="let itemsChild of item.children" nz-menu-item nzMatchRouter>
            <a [routerLink]="[itemsChild.url]">{{itemsChild.title}}</a>
          </li>
        </ul>
      </li>
    </ng-container>
  </ng-container>
</ul>
