.registered-form {
  width: 20rem;
  background: #fff;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
