<div class="test11">
  <nz-spin [nzSpinning]="loading">
    <form (ngSubmit)="search()" [formGroup]="searchForm" [nzLayout]="'inline'" class="search" nz-form>
      <nz-form-item>
        <nz-form-label nzFor="name">姓名</nz-form-label>
        <nz-form-control>
          <input formControlName="name" nz-input placeholder="请输入"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="sex">性别</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="sex" nzAllowClear nzPlaceHolder="请选择">
            <nz-option [nzValue]="0" nzLabel="男"></nz-option>
            <nz-option [nzValue]="1" nzLabel="女"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="email">电子邮箱</nz-form-label>
        <nz-form-control>
          <input formControlName="email" nz-input placeholder="请输入"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">搜索</button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <nz-table #userTable [nzData]="userList" class="userTable" nzBordered nzTitle="人员列表">
      <thead>
      <tr>
        <th nzWidth="200px">姓名</th>
        <th nzAlign="center" nzWidth="100px">性别</th>
        <th>电子邮件</th>
        <th nzAlign="center" nzWidth="200px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.name }}</td>
        <td nzAlign="center">{{ user.sex == 0 ? '男' : '女' }}</td>
        <td>{{ user.email }}</td>
        <td nzAlign="center">
          <a (click)="toEditUserInfo(user)" nz-button nzType="link">修改信息</a>
          <a (nzOnConfirm)="delUser(user.id)" nz-button nz-popconfirm nzDanger nzPopconfirmPlacement="bottom"
             nzPopconfirmTitle="确定要删除这项信息吗?" nzType="link"
          >删除</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-spin>
</div>
