<nz-layout class="home">
  <nz-header style="width:100%;position: fixed;top:0;left: 0">
    <app-header></app-header>
  </nz-header>
  <nz-layout style="margin-top: 64px">
    <nz-sider [ngClass]="{'navigator':true,'navigator-hide':isHideNav}">
      <app-navigator></app-navigator>
      <div (click)="toggleNav()" [title]="isHideNav?'展开':'隐藏'" class="shrink">
        <i [ngClass]="{'shrink-icon':true,'shrink-icon-rotate':isHideNav}" nz-icon nzTheme="outline"
           nzType="left"></i>
      </div>
    </nz-sider>
    <nz-layout style="height: calc(100vh - 64px);padding: 1rem;box-sizing: border-box">
      <router-outlet></router-outlet>
      <nz-footer>
        <div class="copyright">
          ©1995-2004 Eric A. and Kathryn S. Meyer. All Rights Reserved.
        </div>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
